.auth-box {
  background: white;
  padding: 25px;
  border-radius: 6px;
  max-width: 350px;
  margin: 60px auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-box input {
  margin-bottom: 15px;
}

.auth-box button {
  width: 100%;
}
.auth-switch {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.auth-switch a {
  color: #e50914;
  font-weight: bold;
}
