.auth-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px
;
}

.auth-buttons .outline {
  background-color: white;
  color: #e50914;
  border: 1px solid #e50914;
}

.auth-buttons .outline:hover {
  background-color: #e50914;
  color: white;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.movie-card h3 {
  margin: 10px 0;
}


.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.auth-inline {
  display: flex;
  gap: 10px;
}

.auth-inline .outline {
  background-color: white;
  color: #e50914;
  border: 1px solid #e50914;
}

.auth-inline .outline:hover {
  background-color: #e50914;
  color: white;
}
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.auth-inline {
  display: flex;
  gap: 10px;
}

.auth-inline .outline {
  background-color: white;
  color: #e50914;
  border: 1px solid #e50914;
}

.auth-inline .outline:hover {
  background-color: #e50914;
  color: white;
}
