.movie-details {
  display: flex;
  gap: 30px;
  background: white;
  padding: 20px;
  border-radius: 6px;
}

.movie-details img {
  width: 250px;
  border-radius: 6px;
}

.movie-info p {
  margin: 10px 0;
}
