.navbar {
  background-color: #111;
  color: white;
  padding: 15px 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #e50914;
}

.nav-links a {
  margin-left: 20px;
  color: white;
}
