/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #222;
}

/* Common container */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* Buttons */
button {
  padding: 10px 16px;
  border: none;
  background-color: #e50914;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #c40812;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Links */
a {
  text-decoration: none;
  color: #e50914;
}

/* add in index.css or Home.css */
.cancel-btn {
  background-color: #777;
  color: white;
}

.cancel-btn:hover {
  background-color: #444;
}
